<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="scss/custom.css" />
    <title>SETO Bemmel, Tekenwerk en Consultancy</title>
  </head>
  <body>
	<header class="sticky-top">
	<!-- <div class="bg-danger block" style="height: 12px;">  </div> -->
		<div class="container bg-white">
			<div class="row">
				<h3 class="h5 d-sm-none">SETO Bemmel <small>Tekenwerk & Consultancy</small></h3>
				
				<img class="d-none d-sm-block" src="images/logoseto.jpg" alt="SETO Bemmel" />
				<h3  class="d-none d-sm-block h3" style="margin: auto 0;">Tekenwerk & Consultancy</h3>
			</div>
		</div>	
		<div class="bg-danger"> 
		<nav class="container navbar sticky-top navbar-dark navbar-expand-sm bg-danger">
				<!-- <a class="navbar-brand" href="#">SETO Bemmel</a> -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#setoMenu" aria-controls="setoMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span> 
				</button>
				<div class="collapse navbar-collapse" id="setoMenu">
					<ul class="navbar-nav mr-auto mt-2 mt-sm-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ '/diensten' | relative_url }}">Diensten</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ '/over-ons' | relative_url }}">Over ons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ '/contact' | relative_url }}">Contact</a>
					</li>
					</ul>
			</div>
		</nav>
	</div>
	  </header>
	  <main>
		<div class="container">
			<h1 class="h5">{{ page.title }}</h1>
			{{ content }}
		</div>
	</main>

	<div class="footer-margin">
		<footer class="footer fixed-bottom bg-primary text-light">
			<div class="container">
				<span class="badge">SETO Bemmel | Tekenwerk & Consultancy</span>
				<span class="badge">Diana 54, 6681 PM  Bemmel</span>
				<span class="badge">0481 - 450383 | 06 - 5368 3325</span>  
			</div>
		</footer>
	</div>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
